.aboutHeader {
    
    background: url('../assets/blog-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
     position: relative;
}
.aboutHeader img {
    position: absolute;
    width: 60%;
    right: 0;
    top: 60%;
   box-shadow: -10px 10px 0px 0px $aqua;
}

.aboutHeader h2 {
    position: absolute;
    top: 20%;
}

.activities {
    display: flex;
    justify-content: space-between;
}
article{
    width: 63.4%;
    margin-top: 330px;
    padding: 0 80px;
    border: 1px solid $aqua;
    p {
        margin-bottom: 20px;
    }
}
aside{
    width: 35%;
    margin-top: 330px;
    .content {
        padding: 20px;
        background: $french;
    
     ul {
        margin-left: 40px;
    }
  }  
}