h1, h2, h3, h4, p, a, ul, li i {
    padding: 0;
    margin: 0;
}
body {
    background-color: $main;
}
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 80%;
    
}



nav {
	display: flex;
	padding-top: 5px; 
}
label[for="toggle"]{
	position: absolute;
	top: 40px;
	left: 30px;
	color: white;
   display: none;	
}
input[type="checkbox"] {
	display: none;
}
.menu {
    display: flex;
    margin-top: 30px;
	
}
.menu li {
	list-style: none;
    padding-right:30px;
     a {
        text-decoration: none;
        color: $text;
            &:hover {
            border-bottom: 2px solid $aqua;
            padding-top: 15px;
        }
    }
}
 
.skipLinks {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.skipLinks a {
    position: absolute;
    top: -2rem;
    text-decoration: none;
    background-color: $aqua;
    color: $french;
    z-index: 999;
}
.skipLinks a:focus{
    top: 0;
}

footer {
    background-color: $darkish;
    text-align: center;
}


@media (max-width: 768px) {
    header h1{
        font-size: 4.5rem;
    }
    label[for="toggle"]{
        display: block;
    }
    .menu{
        display: none;
    }
}
