.infoContainer {
    display: flex;
    width: calc(100% /2 - 40px);
    margin: 20px;
}
.infoContainer i {
    padding: 10px;
    color: $french;
    font-size: 30px;
    align-self: baseline;
}
.infoContainer i:before {
   border-radius: 50%;
   display: block;
   margin: 0 auto;
   width: 50px;
   height: 50px;
    background:$aqua;
}
.infoText {
    align-self: baseline;
    padding-left: 10px;
    position: relative;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: 80px;
}
.details {
    background-color: $french;
    position: relative;
    padding: 50px 0;
}


.leftImg {
    position: absolute;
    top: -60px;
    box-shadow: 10px 10px 0px 0px $aqua;
}

.leftText {
    margin-right: 10%;
    padding-left: 50%;
    
}

.rightText {
    margin-left: 10%;
    padding-right: 50%;
    margin-top: 10%;
    text-align: right;
}
.rightImg {
    position: absolute;
    bottom: -60px;
    right: 0;
    box-shadow: -10px 10px 0px 0px $aqua;
}
.leftText p, .rightText p {
    padding: 20px 0;
}

.roadTrips {
    text-align: center;
    padding: 120px 60px;
    button {
        margin-top: 30px;
    }
}
.roadTrips h4 {
    padding-bottom: 20px; 
}
.beach {
   background-image: url('../assets/banner.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}
.events {
    display: flex;
    padding: 60px 0; 
    
}
.events img {
    width: calc(30% - 20px);
    margin-right: 20px;
    box-shadow: 10px 10px 0px 0px $aqua;
    
}
.eventsText {
    width: calc(70% - 50px);
    margin-left: 50px;
    p{
        padding: 20px 0;
    }
}
.pictures {
    display: flex;
     padding: 30px 0;
}
.pictures img {
    width: calc(100% /3 - 40px);
    margin: 20px;
}
.gallery {
     background-color: $french;
}
