.infoContainer {
    display: flex;
    width: calc(100% /2 - 40px);
    margin: 20px;
}
i {
    padding: 10px;
    color: color(french);
    font-size: 30px;
    align-self: baseline;
}
i:before {
   border-radius: 50%;
   display: block;
   width: 50px;
   height: 50px;
    background:color(aqua);
}
.infoText {
    align-self: baseline;
    padding-left: 10px;
    position: relative;
}

.info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: 80px;
}
.details {
    background-color: color(french);
    position: relative;
    padding: 50px 0;
}

// .left {
//     display: flex;
// }

.leftImg {
    position: absolute;
    top: -60px;
}

.leftText {
    margin-right: 10%;
    padding-left: 50%;
    
}

.rightText {
    margin-left: 10%;
    padding-right: 50%;
    margin-top: 10%;
    text-align: right;
}
.rightImg {
    position: absolute;
    bottom: -60px;
    right: 0;
}