.contactHeader {
     background: url('../assets/contact-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    
}
.contactHeader h2 {
    position: absolute;
    top: 20%;
}
.formContainer   {
    background-color: $french;
    position: absolute;
    padding: 60px 0 20px 60px;
    top: 60%;
    right: 40px;
    box-shadow: 20px 20px 0 0 $aqua;
    input[type=text], input[type=email] {
        border-bottom: 1px solid $text;
    }
}
.addressB{
    display: none;
}
.formContainer textarea[id=comment] {
    border: 1px solid $text;
}
.social i {
    color: $text;
    font-size: 30px;
    margin: 20px 20px 20px 0;
}
.contactInfo {
    margin: 90px;
    padding-left: 30px;
    p:nth-child(2){
        padding-top: 30px;
    }
}
@media (max-width: 1350px){
    form{
        width: 50%;
    }
    
}

@media (max-width: 1080px){
    .formContainer{
        padding:60px 20px 20px 20px;
        top: 40%;
        right: 20%;
        
    } 
    .addressA {
        display: none;
    }
    .addressB{
        display: block;
        position: absolute;
        bottom: 0;
        text-align: center;
    }
    .contactInfo{
        width: 70%;
        padding:120px 0 170px 0;
        
        position: relative;
    }
    .social{
        position: absolute;
        bottom: 30%;
        left: 40%;
        
       
    }

    @media (max-width: 800px){

    }
  
    }
