.contactHeader {
     background: url('../assets/contact-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    
}
.contactHeader h2 {
    position: absolute;
    top: 20%;
}
.formContainer   {
    background-color: $french;
    position: absolute;
    padding: 30px 0 20px 60px;
    top: 60%;
    right: 40px;
    box-shadow: 20px 20px 0 0 $aqua;
    input[type=text], input[type=email] {
        border-bottom: 1px solid $text;
    }
}
.formContainer textarea[id=comment] {
    border: 1px solid $text;
}
.social i {
    color: $text;
    font-size: 30px;
    margin: 20px 20px 20px 0;
}
.contactInfo {
    margin: 90px;
    padding-left: 30px;
    p:nth-child(2){
        padding-top: 30px;
    }
}
